
<div class="input-box bg-color">
<div class="container">
<div class="row">
  <div class="col">
  	<h2><%= @article.title %></h2>
  </div>
</div>
<div class="row">
  <div class="col">
  	<p class="para-font"><%= @article.text %></p>
  </div>
</div>
</div>
</div>

<div class="input-box bg-color">
<h2 class="gap">Comments</h2>
<%= render @article.comments %>
 </div>

<div class="input-box bg-color">
<h2 class="gap">Add a comment: </h2>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-outline-primary col-4" %>
<%= link_to 'Back', articles_path, :class => "btn btn-outline-dark col-7" %>
</div>
